{# src/OC/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bonobo</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container-full">
    <div id="header" class="jumbotron">
        <h1>Social Bonobo</h1>

    </div>
    <div id="menu" class="col-md-3">
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('oc_core_home') }}">Accueil<span style="font-size:16px;"
                                                                                             class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a>
                        </li>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion<span
                                            style="font-size:16px;"
                                            class="pull-right hidden-xs showopacity glyphicon glyphicon-off"></span></a>
                            </li>
                            <li><a href="{{ path('oc_platform_add') }}">Ajouter un ami<span style="font-size:16px;"
                                                                                            class="pull-right hidden-xs showopacity glyphicon  glyphicon-plus-sign"></span></a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion<span style="font-size:16px;"
                                                                                               class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                            </li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription<span
                                            style="font-size:16px;"
                                            class="pull-right hidden-xs showopacity glyphicon glyphicon-log-in"></span></a>
                            </li>

                        {% endif %}


                    </ul>
                </div>
            </div>
        </nav>


    </div>
    <div id="content" class="col-md-9">
        {% block body %}
        {% endblock %}
    </div>
</div>


<hr>

<footer>
    <p>Timothé PARDIEU pour Apartoo</p>
</footer>


{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
